{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('getData') }}">Nodes</a>
        <div class="collapse navbar-collapse" id="nodes">
        </div>
    </nav>
    <br>
    <div class='container'>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="baseDir"><a href="{{ url_for('getData') }}">Data</a></li>
            <li class="breadcrumb-item active" id="currentLocation">{{ node }}</li>
        </ol>
        <h3>{{ title }}</h3>
        <span id="load">Loading Data...</span>
        <div id="data"></div>
    </div>
{% endblock %}