{% extends "layout.html" %}
{% block content %}
    <br>
    <div class='container'>
        <h3>Database Site</h3>
        <p>
            This webapp contains all information being sent from active nodes created by the BIT IoT Project Group.</br>
            The information provided is information recorded from the last 12 months, and then saved to our MongoDB server.
        </p>
    </div>
{% endblock %}