<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <div class='footer'>
        <footer>&copy; 2019 IoT Project Team</footer>
    </div>
</body>
</html>